{% extends 'base.html' %}
{%block content%}
<div class="lg:max-w-xl max-w-md mx-auto bg-white shadow-lg rounded-lg p-5">
    <h2 class="text-center text-xl font-bold">User Login</h2>
    <form action="" method="post" class="form-control">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-error" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <strong>Error:Please correct the following errors.</strong> 
        </div>
        {% endif %}
        <div class="form-control">
            <label for="username" class="label text-lg font-semibold">Username</label>
            <input type="text" name="username" id="username" class="input input-primary">
            {% if form.errors.username %}
            <div class="text-red-500">{{ form.errors.username }}</div>
            {% endif %}
        </div>
        <div class="form-control">
            <label for="password" class="label text-lg font-semibold">Password</label>
            <input type="password" name="password" id="password" class="input input-primary">
            {% if form.errors.password %}
            <div class="text-red-500">{{ form.errors.password }}</div>
            {% endif %}
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-block btn-primary text-xl font-bold text-white">Login</button>
        </div>
    </form>
</div>
{%endblock%}